:root {
  --color-bg: #081010;
  --color-white: #fff;
  --color-gray: #ccccccb2;
  --color-overlay: rgba(0, 0, 0, 0.35);
  --header-padding-large: 50px;
  --header-padding-small: 30px;
  --header-size-large: 80px;
  --header-size-small: 40px;
}

.layout {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: var(--color-white);
  position: relative;

  .overlay {
    background-color: var(--color-overlay);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }

  video {
    position: fixed;
    min-height: 100vh;
    z-index: -1;
    min-width: 100vw;
    z-index: -2;
  }
}
