.header {
  padding: var(--header-padding-large) var(--header-padding-large) 0
    var(--header-padding-large);
  display: flex;
  justify-content: space-between;
  transition: all 0.7s ease;
  position: fixed;
  width: calc(100% - 2 * var(--header-padding-large));

  &.fixed {
    background-color: var(--color-overlay);
    padding: var(--header-padding-small) var(--header-padding-large) 0
      var(--header-padding-large);
  }

  @media (max-width: 768px) {
    padding: var(--header-padding-small) var(--header-padding-small) 0
      var(--header-padding-small);
    width: calc(100% - 2 * var(--header-padding-small));

    &.fixed {
      padding: 0 var(--header-padding-small) 0 var(--header-padding-small);
    }
  }

  .logo img {
    height: var(--header-size-large);
    width: 354px;

    @media screen and (max-width: 768px) {
      height: var(--header-size-small);
      width: 180px;
    }
  }
  .actions {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: var(--color-white);
      text-decoration: none;

      &:not(:first-child) {
        margin-left: 25px;

        @media (max-width: 460px) {
          margin-left: 10px;
        }
      }

      @media screen and (max-width: 768px) {
        font-size: 11px;
      }

      img {
        margin-right: 10px;
      }

      span {
        @media (max-width: 460px) {
          display: none;
        }
      }
    }
  }
}
