.content {
  --content-padding-top-large: calc(
    var(--header-size-large) + var(--header-padding-large)
  );
  --content-padding-top-small: calc(
    var(--header-size-small) + var(--header-padding-small)
  );

  padding: var(--content-padding-top-large) 249px 0 149px;

  @media (max-width: 1440px) {
    padding: var(--content-padding-top-large) 56px;
  }

  @media (max-width: 1200px) {
    padding: var(--content-padding-top-large) 40px;
  }

  @media (max-width: 768px) {
    padding: var(--content-padding-top-small) 30px;
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: var(--color-gray);
    text-align: center;
    padding: 20px 0;

    @media screen and (max-width: 1440px) {
      font-size: 24px;
    }
  }
}
