.accordion {
  width: 100%;
  margin: 50px 0;

  @media (max-width: 768px) {
    margin: 20px 0;
  }

  .header {
    display: flex;
    justify-content: space-between;

    label {
      font-size: 24px;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 20px;
        font-weight: 400;
      }
    }

    button {
      border: none;
      background-color: inherit;
      font-size: 50px;
      height: 36px;
      opacity: 0.4;
      display: flex;
      align-items: center;
      color: var(--color-gray);
    }
  }

  .content {
    transition: all 0.3s ease-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    &.expanded {
      opacity: 1;
    }

    .text {
      margin-top: 50px;
      line-height: 24px;
    }
  }
}
